:root {
  --container-padding: 16px;
  --container-width: calc(100% - var(--container-padding) * 2);
}

body {
  min-height: 100vh;
  word-break: break-word;
  height: 100%;
  line-height: 1.6;
  scroll-margin: 100px 0 0 0;
}

@import 'kankan';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
  padding: 16px calc(50% - var(--container-width) / 2);
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  color: #5050cc;
  text-align: center;
}

.todo-section {
  margin-top: 35px;
}

@media screen and (max-width: 769px) {
  .main-container {
    padding: 20px calc(50% - var(--container-width) / 2);
  }
}
